

#nav-wrapper{
    background-color: black;
    
    /* box-shadow: 0 0 0 1px black; */
   
}

.primary-navbar{
    /* background-color: black; */
    max-width: 918px;
    margin: 0 auto;
}
    .primary-navbar ul{
        list-style-type: none;
        display: flex;
        /* margin: 0; */
        padding-left: 0;
    }

    .primary-navbar ul:hover{
        cursor: pointer;
    }
        .primary-navbar ul li{
            display: table;
            flex: 1;
            /* font-family: Roboto, sans-serif; */
            font-family: Nanum Gothic, sans-serif;
            height: 3rem;
            /* padding: 0.5rem; */
        }
            .primary-navbar ul li a{
                color: white;
                display: table-cell;
                font-size: large;
                text-decoration: none;
                vertical-align: middle;
            }
            .primary-navbar ul li:hover{
                background-color: white;
            }
            .primary-navbar ul li:hover a{
                color: black;
                /* display: inline-block; */
                width: 100%;
            }