.gallery-6{
    /* border: 1px solid black; */
    display: inline-flex;
    margin: 5px;
    width: 250px;
    height: 200px;
}
.gallery-6-new{
    /* border: 5px solid black; */
    display: inline-flex;
    margin: 5px;
    width: 250px;
    height: 200px;
}

    .gallery-item{
        background-size: auto;
        background-repeat: no-repeat;
        width: 100%;
    }

    .caption-wrapper{
        /* border: 1px solid black; */
        height: 100%;
        position: relative;
        width: 100%;


    }
        .caption-wrapper span{
            background-color: black;      
            /* border: 1px solid black; */
            border-top: 1px solid white;
            bottom: 0;
            color: white;
            font-size:1rem;
            left: 0;
            height: 2rem;
            padding-left: 0rem;
            position: absolute;
            text-align: left;
            width: 100%;
        }
        .caption-wrapper :hover{
            background-color: grey;
            height: 3rem;
            transition: height .25s;
        }